<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
    <link rel="stylesheet" href="styles.css">

</head>
<body>
    <%#= data %>
    <h1>nom de l' utilisateur</h1>
    <h1>Bienvenue :<%= data.username %></h1>

    <h1>Email utilisateur</h1>
    <h1><%= data.email %></h1>


    <h1>mot de passe : </h1>
    <h1><%= data.password %></h1>
</body>
</html>